/*  your css code here. If applicable */
table{
	border-width:1px;
	border-style:solid;
	 border-color:black;
	spacing:1px;
	cell padding:1px;
	width:700px;
	height:200px;
}
.green
{
	background-color:green;
}
.blue
{
	background-color:Blue;
}
