/*  your css code here. If applicable */
table {
    border: 1px solid black;
    padding: 1px;
    width: 700px;
    height: 200px;
}

td {
    padding: 1px;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

